<div class="homepage-container" data-controller="particles">
  <!-- Absolutely positioned header that only appears on home page -->
  <div class="homepage-header">
    EcoWave
  </div>

  <!-- Full-screen Canvas for orbiting particles -->
  <canvas data-particles-target="canvas"></canvas>

  <div data-particles-target="score" class="homepage-score">
    <%= @average_score || 0 %>/100
  </div>

  <p class="homepage-score-subtitle">
      A score of 100 represents the most sustainable choice, while 0 is the least.
      Improve your score by asking our in-built AI for recommendation.
  </p>

</div>
