<h1 class="ecowave-header">EcoWave</h1>
<div class="homepage-background">
  <div class="homepage-info">
    <br>
    <br>
    <br>
      <p class="homepage-title">Your Score</p>
      <br>
      <br>
      <p class="homepage-p">Electricity</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
  </div>
</div>
