<h1 class="ecowave-header">EcoWave</h1>
<div class="homepage-background">
  <div class="homepage-info">
    <br>
    <br>
      <p class="homepage-title" style="text-decoration: none;">Your Average Environmental Score</p>
    <br>
    <br>
  </div>
</div>
