<div class="homepage-background">
  <div class="homepage-info">
    <br>
    <h1 class="hr-lines">E C O W A V E</h1>
    <br>
    <br>
      <p class="homepage-title">Your Score</p>
      <br>
      <div class="ldBar label-center" data-preset="circle" data-value=" <%= (Material.avg_electricity.round(1) / 2000) * 100 %> ">
      </div>
      <br>
      <p class="homepage-p">Electricity</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
  </div>
</div>
