<body class="landing-body">
  <div class="landing-container">
    <h1 class="hr-lines">E C O W A V E</h1>
    <br>
    <br>
    <br>
    <div class="landing-buttons">
      <a href="/users/sign_in" class="btn sign-in">SIGN IN</a>
      <a href="/users/sign_up" class="btn sign-up">SIGN UP</a>
    </div>

  </div>
</body>
