<body class="landing-body">
  <div class="landing-container">
    <h1 class="landing-logo">EcoWave</h1>

    <div class="landing-buttons">
      <a href="/users/sign_in" class="btn sign-in">SIGN IN</a>
      <a href="/users/sign_up" class="btn sign-up">SIGN UP</a>
    </div>

  </div>
</body>
