<body class="landing-show-container" data-controller="theme">
  <h1 class="landing-header">EcoWave</h1>
  <div>
    <!-- Logo Image -->
    <div class="logo-placeholder">
      <img src="<%= asset_path('logo2.png') %>" alt="EcoWave Logo" class="logo-img">
    </div>

    <!-- Buttons near the bottom center -->
    <div class="landing-buttons">
      <a href="/users/sign_in" class="landing-btn btn-sign-in">SIGN IN</a>
      <a href="/users/sign_up" class="landing-btn btn-sign-up">SIGN UP</a>
    </div>

    <!-- Day/Night Toggle -->
    <div class="landing-toggle" data-action="click->theme#toggle">
      <img src="<%= asset_path('day.png') %>" alt="Toggle Theme" class="toggle-icon" data-theme-target="icon">
    </div>
  </div>
</body>
