<h1>Project information</h1>
<h3>This collection includes the following fabrics</h3>
<%= @project_material.material_id %>

<%= link_to "Back", projects_path %>
<%= link_to "Add material", materials_path %>
<%= link_to "Edit " %>
