.background {
  background-color: #2F2F2F;
  min-height: 102vh;
  color: white;
  position: absolute;
  width: 100%;
}

.quantity-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 6vh; /* Adjust this value to control the bottom margin */
  font-family: 'Exo', sans-serif; /* Make sure Exo is imported in your project */
  font-weight: 300; /* Weight for a sleek appearance */
  font-size: 1.8rem; /* Adjust font size as needed */
  letter-spacing: 0.2em; /* Adjust this for letter spacing */
  left: 5px;
  position: relative;
  gap: 10px;

  /* Lines on either side of the text */
  &::before,
  &::after {
    content: "";
    flex: 1; /* Make the lines take up available space */
    border-bottom: 1px solid #fff; /* Thin line; adjust thickness and color if needed */
    position: relative;
    left: -5px;
  }

  .ecowave-header::before {
    left: 0;
  }

  .ecowave-header::after {
    right: 0;
  }
}

.fabric-title-quantity {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  line-height: 1.2;
  font-weight: 300;
  font-size: 1.6rem;
  border-bottom: 1px solid white;
  width: 50%;
  margin: 10px auto 8px auto !important;
}


.quantity-photo-container {
  display: block;
  margin: 0 auto;      /* Center the photo */
  border-radius: 50%;  /* Make it circular */
  object-fit: cover;
  width: 165px;        /* Adjust as desired */
  height: 165px;
  border: 1.5px solid #fff;
  margin-bottom: 2.5vh;      /* Adjust as desired */
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vh;
}

.quantity-btn {
  background-color: #2F2F2F;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 500%;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 100;
}

#quantity-value {
  font-size: 400%;
  text-align: center;
  font-weight: 100;
}

.quantity {
  color: white;
  text-align: center;
}

.submit {
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 100%;
}

.back-container {
  text-align: center;
  justify-content: space-around;
  margin-top: 12vh;
}

.back-button {
  display: block;
  margin: 0 auto;
  width: 62px;
  height: 70px;
}
.back-link {
  display: block;
  margin: 10px auto 0;
  color: white;
  text-decoration: none;
}

.back-style {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  margin-top: -7px;
}

// #material-photo {
//   display: block;
//   margin: 0 auto;      /* Center the photo */
//   border-radius: 50%;  /* Make it circular */
//   object-fit: cover;
//   width: 165px;        /* Adjust as desired */
//   height: 165px;
//   border: 1.5px solid #ffffff;
//   margin-bottom: 2.5vh;      /* Adjust as desired */
// }

/* Center the table horizontally */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the table */
table {
  width: 90%; /* Adjust width as needed */
  border-collapse: collapse;
  margin: 0 auto;
}

/* Style table headers */
th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

/* Style table cells */
td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}
