.background {
  background-color: #2F2F2F;
  min-height: 100vh;
  color: white;
  position: absolute;
  width: 100%;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.quantity-btn {
  background-color: #2F2F2F;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 500%;
  margin-left: 10px;
  margin-right: 10px;
}

#quantity-value {
  font-size: 400%;
  text-align: center;
}

.quantity {
  color: white;
  text-align: center;
}

.submit {
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 100%;
}

.back-container {
  text-align: center;
  justify-content: space-around;
  margin-top: 60px;
}

.back-button {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.back-link {
  display: block;
  margin: 10px auto 0;
  color: white;
  text-decoration: none;
}

#material-photo {
  display: block;
  margin: 0 auto;      /* Center the photo */
  border-radius: 50%;  /* Make it circular */
  object-fit: cover;
  width: 165px;        /* Adjust as desired */
  height: 165px;
  border: 1.5px solid #ffffff;
  margin-bottom: 2.5vh;      /* Adjust as desired */
}

/* Center the table horizontally */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the table */
table {
  width: 90%; /* Adjust width as needed */
  border-collapse: collapse;
  margin: 0 auto;
}

/* Style table headers */
th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

/* Style table cells */
td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}
