.homepage-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: transparent; // transparent background
}



.homepage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  color: black;
  width: 100%;
  gap: 10px; /* Space between text and lines */

  /* Lines on both sides */
  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    border-bottom: 1px solid black; /* Adjust thickness */
    position: relative;
    top: 50%; /* Center the line */
  }

  &::before {
    margin-right: 15px;
  }

  &::after {
    margin-left: 15px;
  }
}



.homepage-score {
  position: absolute;
  top: 49%;           // adjust this percentage to move the score higher or lower
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  font-size: 2.2rem;
  letter-spacing: 0.2em;
  color: black;
}

.homepage-container canvas {
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 0; /* Ensure it's behind everything */
  pointer-events: none; /* Prevents interference */
}

/* Title Styling */
.homepage-score-title {
  position: absolute;
  top: 43%; /* Adjust vertical position */
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Exo', sans-serif;
  font-size: 1.8rem; /* Adjust size */
  font-weight: 400; /* Adjust weight */
  letter-spacing: 0.2em; /* Adjust spacing */
  color: black; /* Adjust color */
  text-transform: uppercase; /* Ensure it's all caps */
}

/* Subtitle Styling */
.homepage-score-subtitle {
  position: absolute;
  top: 84%;
  left: 15%;
  transform: translateX(-10%);
  font-family: 'Exo', sans-serif;
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #7d7d7de6;
  text-align: center;
  max-width: 100%;
}
