.landing-body {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: url('https://i.gifer.com/JcC.gif') no-repeat center center fixed;
  background-size: cover;
}

.landing-container {
  text-align: center;
}

.landing-logo {
  font-size: 60px;
  letter-spacing: 4px;
  margin-bottom: 300px;
  margin-top: 60px;
}

.landing-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-field {
  display: block;
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  color: black;
}

.btn sign-in {
  display: block;
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  color: black;
}

.btn sign-up {
  display: block;
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background: black;
  color: white;
  margin-bottom: 250px;
}
