.navbar-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.navbar-item img {
  width: 24px;  /* Set a fixed size */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent image from exceeding its container's width */
  vertical-align: middle; /* Align image with text or button */
}


.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 5px;
}

.navbar-item {
  display: inline-block;
  background-color: gray;
  padding: 12px 25px;
  transition: background-color 0.3s ease;
}

.navbar-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navbar-item:hover {
  background-color: #999;
}

.plus {
  font-size: 20px;
  padding: 12px 25px;
}
