.navbar-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
}

.navbar-item img {
  width: 100px;  /* Set a fixed size */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent image from exceeding its container's width */
  vertical-align: middle; /* Align image with text or button */
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.navbar-item {
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  width: 100%;
}

.navbar-item:hover {
  background-color: #999;
}
