.details-notes {
  color: white;
}

.material-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bin-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
}

h2 {
  margin: 20px;
}

.fabric-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  margin: 5px 0;
}

.material-list {
  margin: 20px;
}

// .material-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center; /* This ensures vertical alignment */
// }

.material-info {
  display: flex;
  // flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;

}

.material-text {
  display: flex;
  flex-direction: column; /* Keeps text stacked */
}

.material-item {
  margin-top: 24px;
}
