<h1 class="ecowave-header">EcoWave</h1>
<h1>Adjust Fabric Quantity</h1>
<%= simple_form_for(@material, url: update_quantity_material_path(@material), method: :patch) do |f| %>
  <%= f.input :length, label: "Quantity (m)" %>
  <%= f.button :submit, "Update Quantity" %>
<% end %>
<%= link_to "Back", material_path(@material) %>
