<h1>List of Materials</h1>
<ul>
  <% @materials.each do |material| %>
    <li>
      <%= link_to material.name, material_path(material) %>
    </li>

    <% if material.photo.attached? %>
      <%= cl_image_tag material.photo.key, height: 200, width: 300, crop: :fill %>
    <% end %>
  <% end %>
</ul>
